@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400');

    * {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
        font-family: 'oxygen', sans-serif;
        font-weight: 400;
    }

    .page-container {
        height: 100%;
        display: grid;
        grid-template-areas: 
            "top"
            "left"
            "right"
            ;
        border: none;
    }

    .top {
        grid-area: top;
        padding: 5%;
    }

    .top h1 {
        color: #7123a0;
    }

    .top h2 {
        color: #77bcb8;
    }

    .top p {
        color: #ababab;

    }

    .bottomleft {
        grid-area: left;
        background-color: #7123a0;
        color: #ffff;
        padding: 5%;
    }

    .bottomleft h1 {
    }

    .pricing {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .pricing h2 {

    }

    .pricing h3 {
        flex-basis: auto;
        width: auto;
        color: #8f58b1;
    }

    .bottomleft p {
    }

    .joinbutton {
        width: 90%;
        background-color: #77bcb8;
        border: none;
        color: #ffff;
        border-radius: 4px;
        max-width: 200px;
        height: 20%;
    }

    .bottomright {
        grid-area: right;
        background-color: #8f58b1;
        padding: 5%;
        color: #fff;
    }

@media only screen and ( min-width: 311px ){

    * {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
        font-family: 'oxygen', sans-serif;
        font-weight: 400;
    }

    html, body {
        height: 100%;
    }

    .page-container {
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }

    .top h1 {
        margin: 5% 7%;
        font-size: 20px;
        color: #7123a0;
    }

    .top h2 {
        margin: 5% 7%;
        font-size: 16px;
        color: #77bcb8;
    }

    .top p {
        margin: 7%;
        font-size: 15px;
        color: #ababab;
    }
    .bottomleft {
        background-color: #7123a0;
        color: #ffff;
    }

    .bottomleft h1 {
        margin: 7%;
        font-size: 16px;
    }

    .pricing {
        font-size: 16px;
        margin: 7%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .pricing h2 {
        font-size: 24px;
    }

    .pricing h3 {
        margin-left: 5px;
        color: #8f58b1;
        font-size: 16px;
    }

    .bottomleft p {
        margin-left: 7%;
        font-size: 14px;
    }

    .joinbutton {
        margin: 7%;
        margin-top: 0px;
        width: 80%;
        background-color: #77bcb8;
        border: none;
        color: #ffff;
        font-size: 20px;
        border-radius: 4px;
    }

    .bottomright {
        background-color: #8f58b1;
        color: #fff;
        font-size: 16px;
    }

    .bottomright h3, p {
        margin: 7%;
    }

    .bottomright p {
        font-size: 14px;
    }
}

